<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap id="boardResultSet" type="Board">
		<id column="board_no" property="boardNo" />
		<result column="board_title" property="boardTitle" />
		<result column="board_writer" property="boardWriter" />
		<result column="count" property="count" />
		<result column="create_date" property="createDate" />
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
		<result column="board_content" property="boardContent" />
	</resultMap>
	
 <!-- 1_1 현재 유효한 게시글 총 갯수 조회 -->
 	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from board
		 where status='Y'
	</select>
	
	<!-- 1_2 사용자가 요청한 페이지에 필요한 게시글 리스트 조회 -->
	<select id="selectList" resultMap="boardResultSet">
		select
		       board_no
		     , board_title
		     , board_writer
		     , count
		     , to_char(create_date,'YYYY.MM.DD') create_date
		     , origin_name
		  from board
		 where status = 'Y'
		 order 
		    by board_no desc
	</select>
	
	<!-- 2 게시판 작성 요청시 실행할 sql문 -->
	<insert id="insertBoard" parameterType="Board">
		insert  
		  into board
		     (
		       board_no
		     , board_title
		     , board_writer
		     , board_content
		     , origin_name
		     , change_name
		     )
		 values
		     (
		       seq_bno.nextval
		     , #{boardTitle}
		     , #{boardWriter}
		     , #{boardContent}
		     , #{originName}
		     , #{changeName}
		     )
	</insert>
	
	<!-- 3_1. 해당게시글 조회수 증가 -->
	<update id="increaseCount" parameterType="_int">
		update
		    board
		   set count = count+1
		 where board_no = #{bno}
	    and status = 'Y'
	</update>
	
	<!-- 3_2 게시판 상세조회 -->
	<select id="selectBoard" resultMap="boardResultSet" parameterType="_int">
		select
		    board_no
		  , board_title
		  , board_writer
		  , create_date
		  , board_content
		  , origin_name
		  , change_name
	 from board
	where board_no = #{bno}
	</select>
	
	<!-- 게시판 삭제 -->
	<update id="deleteBoard" parameterType="_int">
		update
        board
     	set status='N'
  		where board_no = #{bno}
	</update>
	
	<!-- 게시판 수정 -->
	<update id="updateBoard" parameterType="Board">
		update
        board
   		set board_title = #{boardTitle}
    	 , board_content = #{boardContent}
     	 , origin_name = #{originName}
    	 , change_name = #{changeName}
		where board_no = #{boardNo}
	</update>
	
 
 
</mapper>





